[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo-tranquilpeak-theme"]
	path = hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "hugo-academic"]
	path = hugo-academic
	url = https://github.com/gcushen/hugo-academic
